* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.toolbox-cnt > * {
  margin-left: 4rem;
}
.toolbox-cnt {
  height: 5rem;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
}
.toolbox-priority-cnt {
  height: 3.5rem;
  width: 18rem;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.toolbox-priority-cnt > *:hover {
  opacity: 20%;
}
.color {
  height: 1.5rem;
  width: 3rem;
}
.light-green {
  background-color: lightgreen;
}
.light-pink {
  background-color: lightpink;
}
.light-blue {
  background-color: lightblue;
}
.black {
  background-color: black;
}
.action-btn-cnt {
  height: 3.5rem;
  width: 8rem;
  background-color: #3d3d3d;
  display: flex;
}
.action-btn-cnt > * {
  width: 50%;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-btn:hover {
  background-color: #4bb543;
}
.remove-btn:hover {
  background-color: black;
}

.modal-cnt {
  height: 50vh;
  width: 45vw;
  background-color: #3d3d3d;
  position: absolute;
  left: 25vw;
  top: 25vh;
  display: none;
}
.textarea-cnt {
  height: 100%;
  width: 75%;
  resize: none;
  outline: none;
  border: none;
  background-color: #dfe4ea;
}
.priority-color-cnt {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.priority-color {
  height: 18%;
  width: 80%;
}
.priority-color:hover {
  opacity: 30%;
}
.active {
  border: 5px solid lightsalmon;
}
.main-cnt {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}
.ticket-cnt {
  height: 12rem;
  width: 15rem;
  background-color: grey;
}
.ticket-color {
  height: 1rem;
  /* background-color: lightpink; */
}
.ticket-id {
  height: 2rem;
  background-color: yellow;
}
.task-name {
  height: 7rem;
  background-color: coral;
}
.ticket-lock {
  height: 2rem;
  background-color: coral;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3%;
}
